
.tab-title{
  margin-top:1%;
  text-transform: uppercase;
  text-align: center;
  color: #565656;
  font-family: Arial, Helvetica, sans-serif;

}
.tab-title:after{
	margin:auto;
	height: 10px;
    display: block;
    width:18%;
    border-top:3px solid #fdca40;
    content: '';
}
.ibox-Content{
	Margin:2% 10% 0 10%;
	height:85vh;
	overflow-y:auto;
	background: #feffde;
	padding:1px;
}
.msg-box{
	margin:2% 4%;
	padding:5px;
	height:;
	width: max-content;
	max-width:75%;
	background-color:white;
	border:1px solid #cdc7be;
	border-radius:4px;
	display:flex;
}
.msg-box p{
	margin:2% 2%;
}
.msg-box .time{
	font-size:12px;
	float:right;
}
.clearfix{
  overflow:auto;
}
.user-profilePhoto{
	height:30px;
	width:30px;
	margin:4% 2%;
	float:left;
}
.user-input{
	margin:0% 10%;
	padding:2% 2%;
	background: #feffde;
	text-align:center;
}
.msg{
	padding:2% 5%;
	margin-bottom:10px;
	width:80%;
	border:1px solid 	#C0C0C0;
	border-radius:50px;
}
.msg:focus{
        outline: none;
    }
.send-btn{}

footer {
	Margin:0 5%;
}
footer a{
	text-decoration: none;
}
@media screen and (max-width: 600px) {
	.ibox-Content{
		margin:2% 2% 0 2%;
	}
	.user-input{
		margin:0 2%  0 2%;
	}
}
